@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

html {
    background-color: rgba(0, 255, 179, 0.897);
}

h1 {
    color:blanchedalmond;
    font-size: 500%;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    -webkit-text-stroke: 0.01px black
}

h2 {
    color: orangered;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.isgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.is-header {
    border: solid black;
    background-color:rgb(0, 255, 149)
}

nav {
    font-size: 400%;
    text-align:center;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    -webkit-text-stroke: 0.01px black
}

.is-picture {
    border: 2px solid rgba(255, 60, 0, 0.795);
    box-shadow: black;
    box-shadow: 5px 5px 5px rgb(52, 143, 104);
    border-radius: ;
}

p {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color:orangered;
}

footer {
    border: solid black;
    background-color:rgb(0, 255, 149)
}

/* background-image: url("bg1.jpg"); */
